/* Fonts */

/*Good for nav */
@font-face {
  font-family: "code-bold";
  src: url("../fonts/CODE Bold.otf");

}

@font-face {
  font-family: "code-light";
  src: url("../fonts/CODE Light.otf");

}

@font-face {
  font-family: "ikaros";
  src: url("../fonts/Ikaros.otf");
}

@font-face {
  font-family: "intro";
  src: url("../fonts/Intro Inline.otf");
}

/*Good for nav*/
@font-face {
  font-family: "mensch";
  src: url("../fonts/mensch.ttf");
}

@font-face {
  font-family: "ostrich";
  src: url("../fonts/OstrichSansInline-Regular.otf");
}

@font-face {
  font-family: "zag";
  src: url("fonts/Zag Regular.otf");
}

@font-face {
  font-family: "stellar";
  src: url("fonts/Stellar-Regular.otf");
}






/* Navigation */

body {
  display: none;
}

.nav-container {
  width: 100%
}

/* Initial presentation, triggered by scroll-down, use calhacks */
.nav-bar-active {
  letter-spacing: 1px;
  font-family: "code-light";
  width: 100%;
  float: right;
  display: inline-block;
  position: fixed;
  color: orange;
  padding-top: 15px;
  z-index: 100;
  transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.nav-bar {
  letter-spacing: 1px;
  font-family: "code-light";
  width: 100%;
  float: right;
  display: inline-block;
  position: fixed;
  color: orange;
  background-color: #152c6d;
  z-index: 100;
  /*opacity: 0.9;*/
  transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.links-active {
  float: right;
  margin-left: -40px;
  list-style-type: none;
  margin-right: 30px;
  font-size: 0.9em;
}
.links {
  float: right;
  list-style-type: none;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-top: 6px;
  font-size: 0.9em;
}

.link {
  opacity: 0.8;
  display: inline-block;
  padding: 10px;
  padding-bottom: 6px;
}

.link:hover {
  opacity:0.9 !important;
  cursor: pointer !important;
}


.underline {
  opacity: 1 !important;
  border-bottom: solid;
}
.logo_container {
  float: left;
  position: absolute; /* useful when off */
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: -20px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.logo {
  margin-top:2px;
  display: inline-block;
}

.logo-hidden {
  margin-top: -100px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

.link a {
  color: orange;
  text-decoration: none;
}
.apply-link {
  border: solid;
  border-color: white;
  border-width: 2px;
  border-bottom-width: 3px;
  color: white;
}

.logo img{
  height: 60px;
  opacity: 1 !important;
}
.ucbmun {
  display: inline-block;
    font-family: "Ailerons";
    font-size: 40px;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 0px;
}

.home-link {

}
.about-link {

}
.committee-link {

}
.info-link {

}
.attraction-link {

}
.apply-link {

}

/* Home */
.home-container {
  background-image: url();
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*clear: both;
  margin-bottom: 2px;*/
}

/* About Us */
.about-container {

}

.about-contents-container {
  width: 100%;
  margin: 0 auto;
  color: black;
  font-family: "mensch";
  height: 100%;
}
.about-banner {
  height:100%;
  /* width: 0%; */
  margin: 0 auto;
  background-position: 50% 80%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-title {

}
.about-letter-container {
}

.about-letter-gradient {
  font-size: 1em;
letter-spacing: 3;
line-height: 1.4;
position: relative;
margin: 0 auto;
height: 70%;
background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #f9f9f9 50%);
background: -o-linear-gradient(rgba(0,0,0,0), #f9f9f9 50%);
background: -moz-linear-gradient(rgba(0,0,0,0), #f9f9f9 50%);
background: linear-gradient(rgba(216, 177, 177, 0), #5563c7 25%);
}
.about-letter-text {
  width: 80%;
margin: 0 auto;
font-size: 0.7em;
color: white;
font-family: "mensch";
}

/* Information */
.info-contents-container {
  /*margin-top: -380px;*/
  width: 100%;
  height: 100%;
}

.info-container {

}

.info-contents-section {

}




.fee-container {

}

.fee-contents-container {
  display: none;
  padding: 20;
    border: solid;
    margin: 10;
    padding-bottom: 3;
    font-family: "ikaros";
    color: orange;
}

.fee-contents-container-active {

}

.fee-title {
  font-size: 3em;
    font-family: "code-bold";
    letter-spacing: 3;
    border: solid;
    border-color: orange;
    color: orange;
    width: 100%;
    text-align: center;
    padding-top: 6;
    cursor: pointer;
    /* margin: 5; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
}



.registration-container {
  text-align: center;
    font-family: "code-bold";
    letter-spacing: 3;
    cursor: pointer;
}

.registration-contents {
  font-family: "ikaros";
    font-size: 0.6em;
    text-align: left;
    color: black;
    display: none;
}

.schedule-title {
  font-size: 3em;
    font-family: "code-bold";
    letter-spacing: 3;
    border: solid;
    border-color: orange;
    color: orange;
    width: 100%;
    text-align: center;
    padding-top: 6;
    cursor: pointer;
    /* margin: 5; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.location-title {
  font-size: 3em;
    font-family: "code-bold";
    letter-spacing: 3;
    border: solid;
    border-color: orange;
    color: orange;
    width: 100%;
    text-align: center;
    padding-top: 6;
    cursor: pointer;
    /* margin: 5; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.schedule-column {
  width: 25%;
    float: left;
    height: 600px;
    padding: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resources-title {
  font-size: 3em;
    font-family: "code-bold";
    letter-spacing: 3;
    border: solid;
    border-color: orange;
    color: orange;
    width: 100%;
    text-align: center;
    padding-top: 6;
    cursor: pointer;
    /* margin: 5; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.registration-contents {
  display: none;
}

.registration-contents-active {
  display: block;
}

.schedule-contents {
  display: none;
}

.schedule-contents-active {
  display: block;
}
.schedule-contents {

}

.location-contents {
  display: none;
}

.location-contents-active {

}

.resources-contents-container {
  display: none;
}

.resources-contents-container-active {

}

/* Secretariat */

.secretariat-header {
  width: 100%;
  height: 43px;
  background-color: #152c6d;
}

#secretariat-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.secretariat-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.secretariat-title-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

.secretariat-contents-container {
  white-space: nowrap;
  width: 100%;
  height: 100%;
    padding-top: 1.5em;
  /*background-color: #152c6d;*/
  /*padding-top: 2.7em;*/
}

.secretariat-container {
  float: left;
    position: relative;
    width: 25%;
    height: 33.333%;
    padding-right: 1.5px;
    padding-left: 1.5px;
    padding-bottom: 18px;
    /* padding-bottom: 3px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.secretariat-info {
  background-color: orange;
  height: 15%;
  text-align: center;
  min-height: 50px;
  max-height: 80px;
}

.secretariat-name {
  font-family: "mensch";
  letter-spacing: 1;
  padding-top: 0.6em;
}

.secretariat-rank {
  font-family: "code-bold";
  letter-spacing: 2;
  padding-top:0.2em;
  font-size: 0.7em;
}

.secretariat-img {
  background-color: #152c6d;
  height: 85%;
}

.secretariat-contact {
  height: 0px;
    width: 100%;
    position: absolute;
    bottom: 3;
    opacity: 0;
    padding: 5px;
    font-family: "stellar";
    font-size: 0.9em;
    letter-spacing: 1;
    border-right: solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: orange;
    text-align: center;
    border-bottom-color: white;
    border-right-color: white;
  transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.secretariat-contact-active {
  height: 40px;
width: 100%;
position: absolute;
bottom: 3;
padding: 5px;
font-family: "stellar";
font-size: 0.9em;
letter-spacing: 1;
text-align: center;
border-right: solid;
border-color: white;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
background-color: orange;
opacity: 1;
text-align: center;
border-right-color: white;
transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

/* Committees */
.committee-container {

}

.contact-active {
  height: 200px;
width: 100%;
position: absolute;
bottom: 1;
border-right: solid;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
background-color: green;
border-bottom-color: white;
border-right-color: white;
transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

#ob-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.ob-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.ob-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

#sb-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.sb-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.sb-title-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

#cc-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.cc-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.cc-title-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

.cc-contact {
  height: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
    border-right: solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: orange;
    border-bottom-color: white;
    border-right-color: white;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.cc-contact-active {
  height: 0px;
    width: 100%;
    position: absolute;
    bottom: 1;
    border-right: solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: orange;
    border-bottom-color: white;
    border-right-color: white;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

#jcc-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.jcc-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.jcc-title-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

.sb-contents-container {
  width: 100%;
  height: 100%;
  margin-top: 2.7em;
  /*margin-top: 2.7em;*/
}

.sb-container-1 {
  float: left;
    position: relative;
    width: 33.333%;
    height: 50%;
    padding: 1.5px;
    /* padding-bottom: 3px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.sb-container-2 {
  float: left;
    position: relative;
    width: 50%;
    height: 50%;
    padding: 1.5px;
    /* padding-bottom: 3px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.sb-info {
  background-color: orange;
  height: 20%;
}

.sb-img {
  background-color: #152c6d;
  height: 80%;
}

.sb-contact {
  height: 0px;
    width: 100%;
    position: absolute;
    bottom: 1;
    border-right: solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: orange;
    border-bottom-color: white;
    border-right-color: white;
  transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.cc-contents-container {
  width: 100%;
  height: 100%;
  padding-top: 1.3em;
  /*padding-top: 2.7em;*/
}

.cc-container-1 {
  float: left;
    position: relative;
    width: 25%;
    height: 33.333%;
    padding: 1.5px;
    /* padding-bottom: 3px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.cc-container-2 {
  float: left;
    position: relative;
    width: 33.333%;
    height: 33.333%;
    padding: 1.5px;
    /* padding-bottom: 3px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.cc-name {
  font-family: "stellar";
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.cc-info {
  background-color: orange;
  height: 20%;
  text-align: center;
}

.cc-img {
  background-color: #152c6d;
  height: 80%;
}



.jcc-contents {
  width: 100%;
  height: 100%;
}

.jcc-container {
  float: left;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 1.5px;
    /* padding-bottom: 3px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;

}

.jcc-info {
  background-color: orange;
  height: 100px;
}

.jcc-img {
  background-color: #152c6d;
  height: 640px;
}

.contact {
  height: 0px;
    width: 100%;
    position: absolute;
    bottom: 1;
    border-right: solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: green;
    border-bottom-color: white;
    border-right-color: white;
  transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

/* Headers */
#welcome-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.welcome-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.welcome-title-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

#logistics-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.logistics-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.logistics-title-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

#sponsor-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.sponsor-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.sponsor-title-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

#explore-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.explore-title {
  font-family: code-bold;
    font-size: 1.2em;
    position: absolute;
    margin-top: -33px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
}

.explore-title-active {
  font-family: code-bold;
    font-size: 1.2em;
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}


#instagram-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.instagram-title {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: -50px;
    margin-left: 30px;
    color: orange;
    letter-spacing: 3;
}

.instagram-title-active {
  font-family: code-light;
    font-size: 1.2em;
    position: absolute;
    margin-top: 13px;
    margin-left: 30px;
    color: orange;
    letter-spacing: 3;
    opacity: 1;
    /*text-decoration: underline;*/
}

/* Attractions */
.attraction-container {

}
